{% extends 'modulo/base.html' %}

{% load static %}

{% block contenido %}

<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Ticket</h4>
      <span class="text-muted">Plataforma Web</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <div class="wrapper">
        <nav id="sidebar">
          <div class="sidebar-header">

          </div>
    </button>
  </nav>
</div>



<div class="container">
  <h2>Support</h2>
  <hr />
  <article>
    Estamos comprometidos con ayudar a nuestros socios de negocios,
    brindandole soporte cuando se les presenten problemas al momento de
    facturar con nuestro web services, somo lideres en sistemas de
    facturacion en todo morelia con 8 años de experiencia.
  </article>
  <hr />
  <div class="container">

    <button type="button" class="btn btn-light">
      <a href="ticket.html"><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTefbFQDPo0WseyutLeMfn7M92uLhybmHvX2Q&usqp=CAU"
          height="35px" /></a>
    </button>
    <hr>
    Eligie tu chat?<br />
    <input id="room-name-input" type="text" size="100" /><br />
    <input id="room-name-submit" type="button" value="Enter" />

    <script>
      document.querySelector("#room-name-input").focus();
      document.querySelector("#room-name-input").onkeyup = function (e) {
        if (e.keyCode === 13) {
          // enter, return
          document.querySelector("#room-name-submit").click();
        }
      };

      document.querySelector("#room-name-submit").onclick = function (e) {
        var roomName = document.querySelector("#room-name-input").value;
        window.location.pathname = "/modulo/" + roomName + "/";
      };
    </script>
  </div>
  <hr />
  <footer>Propiedad de Victor Manuel Lopez Hurtado</footer>
</div>

{% endblock %}